# ---------- Core ----------
numpy>=1.23

# ---------- Computer Vision ----------
opencv-contrib-python>=4.8

# ---------- Face Recognition ----------
insightface>=0.7.3
onnxruntime>=1.16

# ---------- GUI ----------
PySide6>=6.5

# ---------- Utilities ----------
tqdm>=4.65
